<nav class="navbar navbar-expand-md fixed-top navbar-dark" style="background-color: #d1597d">
    <!-- <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo"> -->
    <div class="container-fluid">
       <div class="navbar-header">
           <a class="navbar-brand col-sm-6">Recipe Book</a>
       </div>
 
       <div class="collapse navbar-collapse col-xs-6" id="navbarNav">
           <ul class="navbar-nav mr-auto">
                <li><a class="act" routerLinkActive="active" [routerLink]="['/recipes']">RECIPES</a></li>&nbsp;&nbsp;
                <li><a class="act" routerLinkActive="active" [routerLink]="['/shopping-list']">SHOPPING LIST</a></li>
           </ul>
           <!-- <ul class="nav navbar-nav navbar-right"> -->
               <!-- <li class="dropdown"> -->
                   <!-- <a style="cursor: pointer; color: white; background-color: #4FredA9DC"
                    class="dropdown-toggle" role="button" data-toggle="dropdown">Manage <span class="caret"></span></a>
                   <ul class="dropdown-menu">
                        <li><a routerLinkActive="active" class= "list" style="cursor: pointer;">Save Data</a></li>
                        <br>
                        <li><a routerLinkActive="active" class= "list" style="cursor: pointer;">Fetch Data</a></li>
                   </ul>
               </li>
           </ul> -->
       </div>
    </div>
<!-- </mdb-navbar> -->
 </nav>
 <!-- <router-outlet></router-outlet> -->